<style>
    section{
    display: flex;
    justify-content: space-evenly;
   
}
.guns-group{
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    max-width: 25rem;
    padding: 20px;
   
}



.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #122018;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  font-style: normal;
  text-transform: uppercase;
}

.button-68:hover {
  background-color: #010804;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
</style>
<main>
    <section>
        <% guns.forEach(function(item,index){ %>
        <ul class="guns-group">
          <li class="">
            <h1>Name :</h1>
            <p><%= item.attributes.name %></p>
          </li>
          <li class="description">
            <h1>Description :</h1>
            <p><%= item.attributes.description %></p>
          </li>
          <li class="">
            <h1>Price :</h1>
  
            <p><%= item.attributes.price %></p>
          </li>
          <li class="">
            <h1>Authorization :</h1>
  
            <p class="button-68"><%= item.attributes.authorization %></p>
          </li>
          <li class="margin_top">
            <a
              class="button-85"
              href="http://localhost:3000/guns?id=<%=item.id%>"
            >
              more</a
            >
          </li>
        </ul>
        <% }) %>
      </section>
</main>